{% extends "base.html" %}

{% block title %}
Добавление сотрудника
{% endblock %}

{% block content %}

<div class="mb-6">

    <a
            href="/employees"
            class="text-blue-600 hover:underline"
    >
        ← Вернуться к реестру
    </a>

</div>

<h1 class="mb-8 text-3xl font-bold">

    Добавление сотрудника

</h1>

{% set method = "POST" %}

{% set action = "/api/employee/" %}

{% set submit_text = "Сохранить" %}

{% include "components/employee_form.html" %}

{% endblock %}
